@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer shadcn {
  :root {
    --background: 240 5% 6%;
    --foreground: 60 5% 90%;
    --primary: 240 0% 90%;
    --primary-foreground: 60 0% 0%;
    --secondary: 240 4% 15%;
    --secondary-foreground: 60 5% 85%;
    --accent: 240 0% 13%;
    --accent-foreground: 60 0% 100%;
    --destructive: 0 60% 50%;
    --destructive-foreground: 0 0% 98%;
    --muted: 240 5% 25%;
    --muted-foreground: 60 5% 85%;
    --card: 240 4% 10%;
    --card-foreground: 60 5% 90%;
    --popover: 240 5% 15%;
    --popover-foreground: 60 5% 85%;
    --border: 240 6% 20%;
    --input: 240 6% 20%;
    --ring: 240 5% 90%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

/* START: General styles */
.max-width {
  @apply mx-auto max-w-[1440px];
}

.padding-x {
  @apply px-0 sm:px-0;
}

.padding-y {
  @apply py-0;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex items-center justify-between;
}

.custom-btn {
  @apply relative flex flex-row items-center justify-center px-6 py-3 outline-none;
}
/* END: General styles */

/* START: Hero styles */
.hero {
  @apply relative z-0 mx-auto flex max-w-[1440px] flex-col gap-5 xl:flex-row;
}

.hero__title {
  @apply text-[50px] font-extrabold text-white sm:text-[64px] 2xl:text-[72px];
}

.hero__subtitle {
  @apply mt-[-100px] min-w-full bg-black bg-opacity-30 text-[27px] font-light;
}

.hero__image-container {
  @apply flex w-full items-end justify-end;
}

.hero__image {
  @apply relative left-[80px] top-[200px] z-0 h-[590px] w-[100%] md:top-[100px] xl:top-[500px] xl:z-0;
}

.hero__image-overlay {
  @apply absolute -right-1/4 bottom-[50px] -z-50 h-[300px] w-full overflow-hidden bg-hero-bg bg-repeat-round xl:absolute xl:-right-1/2 xl:top-[200px] xl:h-full;
}
/* END: Hero styles */

/* START: Home styles */

.home__text-container {
  @apply flex flex-col items-start justify-start gap-y-2.5 text-black-100;
}

.home__filters {
  @apply mt-12 w-full items-center gap-5;
}

.home__filter-container {
  @apply flex items-center justify-end gap-2;
}

.home__cars-wrapper {
  @apply grid w-full grid-cols-1 gap-8 pt-14 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4;
}

.home__error-container {
  @apply mt-16 flex flex-col items-center justify-center gap-2;
}
/* END: Home styles */

/* START: Car Card styles */
.car-card {
  @apply flex flex-col items-start justify-center rounded-3xl bg-[#a52925] p-6 text-white hover:bg-white hover:shadow-md;
}

.car-card__content {
  @apply flex w-full items-start justify-between gap-2;
}

.car-card__content-title {
  @apply text-[22px] font-bold capitalize leading-[26px];
}

.car-card__price {
  @apply mt-6 flex text-[32px] font-extrabold leading-[38px];
}

.car-card__price-dollar {
  @apply self-start text-[14px] font-semibold leading-[17px];
}

.car-card__price-day {
  @apply self-end text-[14px] font-medium leading-[17px];
}

.car-card__image {
  @apply relative my-3 h-40 w-full object-contain;
}

.car-card__icon-container {
  @apply flex w-full justify-between text-grey group-hover:invisible;
}

.car-card__icon {
  @apply flex flex-col items-center justify-center gap-2;
}

.car-card__icon-text {
  @apply text-[14px] leading-[17px];
}

.car-card__btn-container {
  @apply absolute bottom-0 z-10 hidden w-full group-hover:flex;
}
/* END: Car Card styles */

/* START: Car Details styles */
.car-details__dialog-panel {
  @apply relative flex max-h-[90vh] w-full max-w-lg transform flex-col gap-5 overflow-y-auto rounded-2xl bg-white p-6 text-left shadow-xl transition-all;
}

.car-details__close-btn {
  @apply absolute right-2 top-2 z-10 w-fit rounded-full bg-primary-blue-100 p-2;
}

.car-details__main-image {
  @apply relative h-40 w-full rounded-lg bg-pattern bg-cover bg-center;
}
/* END: Car Details styles */

/* START: Custom Filter styles */
.custom-filter__btn {
  @apply relative flex w-full min-w-[127px] cursor-default items-center justify-between rounded-lg border bg-white px-3 py-2 text-left shadow-md sm:text-sm;
}

.custom-filter__options {
  @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
}
/* END: Custom Filter styles */

/* START: Footer styles */
.footer {
  @apply mt-5 flex flex-col border-t border-gray-100 text-black-100;
}

.footer__links-container {
  @apply flex flex-wrap justify-between gap-5 px-6 py-10 max-md:flex-col sm:px-16;
}

.footer__rights {
  @apply flex flex-col items-start justify-start gap-6;
}

.footer__links {
  @apply flex w-full flex-1 flex-wrap gap-20 max-md:mt-10 md:justify-end;
}

.footer__link {
  @apply flex min-w-[170px] flex-col gap-6 text-base;
}

.footer__copyrights {
  @apply mt-10 flex flex-wrap items-center justify-between border-t border-gray-100 px-6 py-10 sm:px-16;
}

.footer__copyrights-link {
  @apply grid grid-cols-2 md:grid-cols-4;
}
/* END: Footer styles */

/* START: searchbar styles */
.searchbar {
  @apply relative flex w-full max-w-3xl items-center justify-start max-sm:flex-col max-sm:gap-4;
}

.searchbar__item {
  @apply relative flex flex-1 items-center justify-start max-sm:w-full;
}

.searchbar__input {
  @apply h-[48px] w-full cursor-pointer rounded-r-full bg-white p-4 pl-12 text-sm outline-none max-sm:rounded-full;
}
/* END: searchbar styles */

/* START: search manufacturer styles */
.search-manufacturer {
  @apply z-50 flex flex-1 items-center justify-start max-sm:w-full;
}

.search-manufacturer__input {
  @apply h-[48px] w-full cursor-pointer rounded-l-full bg-light-white p-4 pl-12 text-sm outline-none max-sm:rounded-full;
}

.search-manufacturer__options {
  @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm;
}

.search-manufacturer__option {
  @apply cursor-default select-none py-2 pl-10 pr-4;
}
/* END: search manufacturer styles */
.container {
  font-family: sans-serif;
}

.container::before,
.container::after {
  content: "";
  background-color: white;
}

.container::before {
  border-radius: 50%;

  top: 80%;
  right: 7%;
}

.container::after {
  content: "";
  position: absolute;
  height: 2rem;
  top: 8%;
  right: 5%;
  border: 1px solid;
}

.container .box {
  border: 0px solid rgba(255, 255, 255, 0.222);
  background-color: rgba(255, 255, 255, 1.522);
  height: auto;
  -webkit-backdrop-filter: blur(102px);
  backdrop-filter: blur(120px);
  border-radius: 0.1rem;
  transition: all ease 0.3s;
}

.container .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .box .title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.container .box div strong {
  display: block;
  margin-bottom: 0.5rem;
}

.container .box div p {
  margin: 0;
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.container .box div span {
  font-size: 0.7rem;
  font-weight: 300;
}

.container .box div span:nth-child(3) {
  font-weight: 500;
  margin-right: 0.2rem;
}

.container .box:hover {
  box-shadow: 0px 0px 20px 1px #ffbb763f;
  border: 1px solid rgba(255, 255, 255, 0.454);
}

.stickyNav {
  position: fixed;
  bottom: 0;
  width: 100%;

  color: white;
  transition: transform 0.3s ease-in-out;
}

.show {
  transform: translateY(0);
}

.hide {
  transform: translateY(100%);
}

.hideNav {
  transform: translateY(-100%);
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 10px 0;
}

nav ul li {
  cursor: pointer;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;

  .slider {
    position: relative;
    height: 500px;
    width: 350px;
    overflow: hidden;

    @media only screen and (max-width: 375px) {
      height: 400px;
      width: 300px;
    }

    .image {
      position: absolute;
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      will-change: transform, opacity;

      &:hover {
        cursor: grab;
      }

      &:active {
        cursor: grabbing;
      }
    }
  }

  .buttons {
    margin-top: 12px;

    button {
      outline: none;
      border: none;
      user-select: none;
      padding: 10px 12px;
      transform: skewY(-5deg) rotate(5deg);
      background-color: gray;
      font-family: inherit;
      font-size: inherit;
      color: white;
      transition: 0.07s ease-out transform;

      &:first-of-type {
        margin-right: 15px;
      }

      &:hover {
        cursor: pointer;
      }

      &:active {
        transform: scale(0.85) skewY(-5deg) rotate(5deg);
      }
    }
  }
}

.thumbnails {
  display: flex;
  justify-content: center;

  .thumbnail-container {
    position: relative;
    height: 120px;
    width: 90px;

    @media only screen and (max-width: 375px) {
      height: 70px;
      width: 50px;
    }

    &:hover {
      cursor: pointer;
    }

    &:not(:last-of-type) {
      margin-right: 5px;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    .active-indicator {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      pointer-events: none;
      transform: scaleX(0);
      transform-origin: left;
      background-color: gray;
      transition: 1s cubic-bezier(0.56, 0.03, 0.12, 1.04) transform;

      &.active {
        transform: scaleX(1);
      }
    }
  }
}
